header.header
  .row
    .col-12
      h1 Transport
      p.lead Transport and travel data for Dublin
      // is available for the Airport <i>(coming soon)</i>, 
        |Bike Hire, Bus, Luas, Port <i>(coming soon)</i>, Tram, and Private Car Parking.
      p For comprehensive and up-to-date travel information 
        | including live availablity, arrivals and departures, and   
        | Real-Time Passenger Information, see our  
        |<a href="../queries"> Getting Around</a> query.


  #dublin-bikes.row
    .col-lg-4
      .themes-text-title
        h3 Dublin Bikes <img height='15px' width='15px' src='/images/clock-circular-outline-w.svg'>
        p Source: 
          a(href="http://www.dublinbikes.ie/" target="_blank") Dublin Bikes Website 
            img(src='../images/external-link.svg' height='11px' width='11px')
      .themes-text-info
        p Just Eat dublinbikes is a self-service bike rental system open to 
          |everyone from 14 years of age. 
          |It enables you to travel through the 
          |city centre, commute between home and work and get out and about 
          |to enjoy Dublin city at your leisure. Visit the 
          |Dublin Bikes website for more information.
        p The chart shows the general trend of bikes availability for the past day, week and month- 
          |click on a button to move between views.

      #bikes-info-text.themes-text-data
        p In the past day, the maximum number of bikes in use at any given time was 
          |<b id='bikes-in-use-count'></b> at <b id='max-bikes-use-time'></b>, meaning there were then still <b id='bikes-available'></b> bikes available.
  
        //- //- p See also: 
          li <a href="../queries"> Getting Around</a> for <b>all</b> transport & travel on one map

    .col-lg-8.themes-chart
      .themes-chart-buttons
        <button id="dublinbikes_day" type="button" class="btn btn-bcd btn-sm active">Day</button>
        <button id="dublinbikes_week" type="button" class="btn btn-bcd btn-sm">Week</button>
        <button id="dublinbikes_month" type="button" class="btn btn-bcd btn-sm">Month</button>
        //- <button id="dublinbikes_year" type="button" class="btn btn-bcd btn-sm">Year</button>
      #chart-dublinbikes.themes-chart-holder
      

  .row.wrapper
    .col-lg-4
      h3 Fingal Disabled Parking Bays <img height='15px' width='15px' src='/images/calendar-w.svg'>
      p Source: 
        a(href="https://data.gov.ie/dataset/disabled-parking-spaces" target="_blank") Data.gov 
          img(src='../images/external-link.svg' height='11px' width='11px')          
        p The map shows the locations of disabled car parking bays within the 
          |Fingal County Council local authority area. In total there are
          |<b id='fingal-disabled_parking-count'></b> bays located in this data  
          |from 2011.

      p City center multi-story car park locations appear on our 
        |<a href="../queries"> Getting Around</a> query. There you can see
        | the numbers of free spaces currently available, along with
        | other real-time travel information.

      div#chart-transport-parking-select
    .col-lg-8
      div#chart-transport-parking.map-holder
